{% extends 'base.html' %}
{% load static %}
{% block content %}

{% load static %}    
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p></p>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>University of Ibadan, Ibadan, Nigeria</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <a href="http://wwww.somuyiwaolusola56@gmail.com" target='_blank'><p>somuyiwaolusola56@gmail.com</p></a>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+234 908 008 3719</p>
              </div>
              <div>
                <i class="bx bxl-whatsapp"></i>
                <h4>WhatsApp</h4>
                <a href="https://wa.me/message/FWEE6TKSW5HYE1" target='_blank'><p>+234 815 476 4285</p></a>
              </div>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3956.2189786077615!2d3.9044616143197!3d7.44100681388219!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1039ed3239baa9c1%3A0x199cf4117fbf875c!2sUniversity%20of%20Ibadan%20First%20Gate!5e0!3m2!1sen!2sng!4v1636418843395!5m2!1sen!2sng" width="100%" height="280" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="." method="post" role="form" class="">
               {% csrf_token %}
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>

              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->
{% endblock %}