{% extends 'base.html' %}
{% load static %}
 


{% block content %}


     

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Olusols</h1>
      <p>I am a <span class="typed" data-typed-items="Designer, Developer, Machine Learning Enthusiast, Freelancer"></span></p>
    </div>
  </section><!-- End Hero -->



    {% include 'index/about.html' %}



    {% include 'index/skills.html' %}

    {% include 'index/resume.html' %}
    
    {% include 'index/portfolio.html' %}

    {% include 'index/service.html' %}

    {% include 'index/testimonial.html' %}

    {% include 'index/contact.html' %}


   


 

{% endblock %}
