{% extends 'base.html' %}
{% load static %}

   {% block content %}
         <!-- ======= Mobile nav toggle button ======= -->
  

      <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          {% if not portfolio.name  %}
            <h2>PortFolio Details</h2>
          {% else %}
            <h2>{{portfolio.name}} Details</h2>
          {% endif %}
          <ol>
            <li><a href={%url 'index' %}>Home</a></li>

          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->




    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                 
                  <img src={{portfolio.project_picture.url}}  alt="">
                </div>
                      {% if portfolio.pic2 %}
                <div class="swiper-slide">
                 
                  <img src={{portfolio.pic2.url}} alt="">
                </div>
                {% endif %}
                    {% if portfolio.pic3 %}
                <div class="swiper-slide">

                 
                  <img src={{portfolio.pic3.url}}  alt="">
                </div>
                  {% endif %}
                   {% if portfolio.pic4 %}
                <div class="swiper-slide">

                  <img src="{{portfolio.pic4.url}} " alt="">
                </div> -->
                  {% endif %}

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                
                <li><strong>Service</strong>: <a  href={{portfolio.service.get_absolute_url}}>{{portfolio.service.name.upper}}</a></li>
                
                <li><strong>Client</strong>: {{portfolio.client_full_name}}</li>
                <li><strong>Project date</strong>: {{portfolio.project_date|date:"d M, Y"}}</li>
               <a  href="{{portfolio.project_url}}" target='_blank'><li><strong>Project URL</strong></li></a>
              </ul>
            </div>

          </div>
          <div class="portfolio-description">
  
              <h2></h2>
              <p>
                {{portfolio.description}}
               
              </p>
            </div>
        </div>

            <!-- Portfolio  category -->

     <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Related Portfolio</h2>
          <p></p>
        </div>

          <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
              {% for port in port %}
                  {% if port.pk != portfolio.pk%}
     

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src={{port.project_picture.url}} class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href={{port.project_picture.url}} data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{port.client_full_name}}"><i class="bx bx-plus"></i></a>
                <a href="{{port.get_absolute_url}}" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

                {% endif %}
              {% endfor %}


        </div>
         </div>
    </section>
    <!-- End portfolio -->



  
    


   {% endblock content %}
